body{
    font-family: Arial, Helvetica, sans-serif;
    background: #efefef;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.grid {
    width: 100%;
    max: width 900px;
    background: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    gap: 15px;
}
.title {
    grid-column: span 2;
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
    border: 3px solid #aaa;
}
.img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.span2 {
    grid-column: span 2;
}
.span4{
    grid-column: span 4;
}