body{
    background-color: white;
}
.B-L{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat (5, 1fr);
    gap: 1em;
}
.B-L1{
    padding: 22px;
    border: black 1px solid;
}
.celda1{
    grid-column: 1/3;
    grid-row: 1;
}
.celda2{
    grid-column: 3/5;
    grid-row: 1;
}
.celda3{
    grid-column: 1/2;
    grid-row: 2;
}
.celda4{
    grid-column: 2/3;
    grid-row: 2;
}
.celda5{
    grid-column: 3/5;
    grid-row: 2
}
.celda6{
    grid-column: 5/5;
    grid-row: 2;
}
.celda7{
    grid-column: 1/3;
    grid-row: 3;
}
.celda8{
    grid-column: 5/5;
    grid-row: 3;
}
.celda9{
    grid-column: 1/2;
    grid-row: 4;
}.celda10{
    grid-column: 2/3;
    grid-row: 4;
}.celda11{
    grid-column: 3/5;
    grid-row: 4;
}